[Desktop Entry]
Version=1.0
Type=Application
Name=FaceX-Zoo Recognition
Comment=Face recognition application
Exec=/home/wicek/Documents/GitHub/projekt-z-rozpoznawania-i-przetwarzania-obraz-w/FaceX-Zoo/face_sdk/main.py
Icon=/home/wicek/Documents/GitHub/projekt-z-rozpoznawania-i-przetwarzania-obraz-w/FaceX-Zoo/face_sdk/shortcut.png
Path=/home/wicek/Documents/GitHub/projekt-z-rozpoznawania-i-przetwarzania-obraz-w/FaceX-Zoo/face_sdk
Terminal=false
Categories=Graphics;Science;
StartupNotify=true
