[Desktop Entry]
Version=1.0
Type=Application
Name=FaceX-Zoo Recognition (Docker)
Comment=Face recognition application (Docker version)
Exec=/home/wicek/Documents/GitHub/projekt-z-rozpoznawania-i-przetwarzania-obraz-w/FaceX-Zoo/face_sdk/run_docker_no_compose.sh
Icon=/home/wicek/Documents/GitHub/projekt-z-rozpoznawania-i-przetwarzania-obraz-w/FaceX-Zoo/face_sdk/shortcut.png
Path=/home/wicek/Documents/GitHub/projekt-z-rozpoznawania-i-przetwarzania-obraz-w/FaceX-Zoo/face_sdk
Terminal=true
Categories=Graphics;Science;
StartupNotify=true
